.no-decoration {
  text-decoration: none;
  color: black;
}

.btn-center {
  display: block !important;
  margin:0 auto !important;
}

.copy-btn {
  float: right;
}

.custom-modal{
  width: 100% !important;
}

.custom-modal-dialog{
    max-width: 100% !important;
}

.custom-modal-header{
  word-break: break-all;
}

.copy-textarea {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .custom-flex {
    flex-direction: column;
  }
}
